:root{
  /* --btn-bg-color: red; */
   --btn-bg-color: rgba(31, 77, 1, 0.781);
}
.cool{
    padding: 1rem;
    margin: 0 0 2rem 1rem;
    border-radius: 8px;
    box-shadow: 5px 5px;
    background-color: transparent;
}
.cool:active{
  box-shadow: 3px 3px var(--btn-bg-color);
}